@media(min-width:1200px){
	/*Extra large Devaice*/
	
}
@media(min-width:992px) and (max-width:1199px){
	/*large Devaice*/
	/****start footer section****/
    .main{
        width: 910px;
    }
    .single_footer:first-child, .single_footer{
    margin-bottom: 40px;
    }
    .copy{
        text-align: right;
        margin-top: 0px;
        position: relative;
        bottom: 140px;
        right: 140px;
    }
    .contact_us{
        position: relative;
        right: 90px;
        top: 10px;
    }
    .footer_area {
        padding-bottom: 11px;
    }
    /****end footer section****/
}
@media(min-width:768px) and (max-width:991px){
	/*medium Devaice*/
    /****start footer section****/
    .main{
        width: 680px;
    }
    .single_footer:first-child, .single_footer{
    margin-bottom: 40px;
    }
    
    /****end footer section****/
}
@media(min-width:576px) and (max-width:767px){
	/*small Devaice*/
    /****start footer section****/
    .main{
        width: 600px;
    }
    .single_footer:first-child, .single_footer{
    margin-bottom: 40px;
    }
    .single_footer:first-child{
        width: 230px;
    }
    /****end footer section****/
}
@media(max-width:575px){
	/*Extra small Devaice*/
	/****start footer section****/
    .main{
        width: 300px;
    }
    .single_footer:first-child, .single_footer{
    width: 100%;
    margin-bottom: 40px;
    }
    /****end footer section****/

}