*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*****Start Footer Section*****/
.footer_area {
    padding: 65px 0px;
    background: linear-gradient(45deg, #000000e6, #000000e3, #00000094);
    color: #fff;
}
.main{
    width: 1200px;
    margin: 0 auto;
    max-width: 1210px;
}
.footer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}
.single_footer{
    width: 230px;
}
.single_footer:first-child{
    width: 350px;
}
.footer_social{
    margin-top: 22px;
}
.footer_social a{
    color: #fff;
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    
}
.footer_social a:hover{
    color: blue;
}
.single_footer h4{
    text-transform: capitalize;
    font-size: 22px;
    margin-bottom: 18px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 4px;
}
.single_footer ul{
    list-style: none;
}
.single_footer ul li{
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
}
.single_footer ul li a{
    text-decoration: none;
    color: #e3e3e3;
    font-size: 17px;
    transition: 0.3s;
    margin-left: 7px;
}
.single_footer ul li a:hover{
    text-decoration: underline;
    color: red;
}
.single_footer ul li a i{
    position: absolute;
    top: 3px;
    left: 0px;
    font-size: 17px;
}
.single_footer p{
    color: #e3e3e3;
    font-size: 17px;
}
.copy{
    text-align: center;
    text-transform: capitalize;
    margin-top: 35px;
}
.footer_social i{
    font-size: 30px;
}
/*****End Footer Section*****/